@font-face {
    font-family: "Jost_light";
    src: url("../fonts/jost.light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Jost_medium";
    src: url("../fonts/jost.medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: var(--nav-h);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Jost_light", sans-serif;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}