#about,
#work,
#contact {
    width: 100vw;
    transition: background-color 0.5s ease;
}

#about,
#work {
    height: 100vh;
}

#contact {
    height: 84vh;
}

#footer {
    width: 100vw;
    height: 16vh;
    background-color: black;
    color: white;
    margin-top: 0px;
}