nav {
    height: 7vh;
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 1vh 1vw 0 rgba(0, 0, 0, 0.05);
}

#R {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 2vw;
}

#R img {
    height: 2.5vh;
    transition: all 0.3s ease;
}

#R img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#L {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 2vw;
    position: relative;
}

nav h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 4vh;
}

#L h2 {
    font-weight: 300;
    font-size: 3vh;
}

#L h2 a {
    position: relative;
    text-decoration: none;
    color: black;
}

#L h2 a:hover {
    cursor: pointer;
}

#L h2 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

#L h2 a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}